.servicesSectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 120px 152px;
  h2 {
    width: 50%;
    font-family: "Playfair Display", serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 61px;
    color: #2c2f24;
    margin-bottom: 64px;
  }
  .cardContainer {
    display: flex;
    gap: 24px;
    .card {
      img {
        width: 286px;
        margin-bottom: 30px;
      }
      h3 {
        margin-bottom: 15px;
        font-family: "DM Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -3%;
        color: #2c2f24;
      }
      p {
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #414536;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .servicesSectionWrapper {
    padding: 30px;
    h2 {
      width: 100%;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
    }
    .cardContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card {
        text-align: center;
        width: 100%;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .servicesSectionWrapper {
    padding: 30px;
    h2 {
      width: 100%;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
    }
    .cardContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card {
        text-align: center;
        width: 100%;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .servicesSectionWrapper {
    padding: 30px;
    h2 {
      width: 100%;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
    }
    .cardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .card {
        width: 100%;
        img {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .servicesSectionWrapper {
    padding: 60px;
    h2 {
      font-size: 40px;
      line-height: 45px;
      text-align: center;
    }
    .cardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .card {
        text-align: center;
        width: 100%;
        img {
          width: 80%;
        }
      }
    }
  }
}
