.menuWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 152px 133px 152px;
  .menuTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 88px;
    h1 {
      font-family: "Playfair Display", serif;
      font-size: 100px;
      font-weight: 400;
      line-height: 96px;
      color: #2c2f24;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      width: 60%;
      font-family: "DM Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      color: #495460;
      margin-bottom: 50px;
    }
    .buttonSection {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 15px;
      .menuButton {
        padding: 10px 50px;
        border-radius: 50px;
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #dbdfd0;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: all 0.3s;
      }
      .clickedBtn {
        background-color: #ad343e;
        color: white;
      }
    }
  }
  .menuContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    .menuItem {
      border: 1px solid #dbdfd0;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      img {
        width: 306px;
        height: 230px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
      }
      .itemInfo {
        padding: 0px 30px 34px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        width: 100%;
        h3 {
          color: #ad343e;
          font-family: "DM Sans", sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: -3%;
        }
        h4 {
          font-family: "DM Sans", sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 26px;
          color: #2c2f24;
        }
        p {
          font-family: "DM Sans", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #414536;
        }
      }
    }
  }
}

.menuButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ad343e;
  transform: scaleX(0);
  transition: all 0.5s;
  border-radius: 1000px;
  z-index: -1;
}
.menuButton:hover {
  color: white;
}
.menuButton:hover::before {
  transform: scaleX(1);
}

@media screen and (max-width: 375px) {
  .menuWrapper {
    width: 100%;
    padding: 30px;
    .menuTitle {
      h1 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      .buttonSection {
        flex-direction: column;
        gap: 10px;
        .menuButton {
          padding: 10px;
          font-size: 12px;
        }
      }
    }
    .menuContainer {
      grid-template-columns: 1fr;
      gap: 20px;
      .menuItem {
        img {
          width: 100%;
          height: 200px;
        }
        .itemInfo {
          padding: 0px 20px 20px 20px;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          h4 {
            font-size: 16px;
            line-height: 20px;
          }
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .menuWrapper {
    width: 100%;
    padding: 30px;
    .menuTitle {
      h1 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      .buttonSection {
        flex-direction: column;
        gap: 10px;
        .menuButton {
          padding: 10px;
          font-size: 12px;
        }
      }
    }
    .menuContainer {
      grid-template-columns: 1fr;
      gap: 20px;
      .menuItem {
        img {
          width: 100%;
          height: 200px;
        }
        .itemInfo {
          padding: 0px 20px 20px 20px;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          h4 {
            font-size: 16px;
            line-height: 20px;
          }
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menuWrapper {
    width: 100%;
    padding: 30px;
    .menuTitle {
      h1 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      .buttonSection {
        flex-direction: column;
        gap: 10px;
        .menuButton {
          padding: 10px;
          font-size: 12px;
        }
      }
    }
    .menuContainer {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      .menuItem {
        img {
          width: 100%;
          height: 200px;
        }
        .itemInfo {
          padding: 0px 20px 20px 20px;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          h4 {
            font-size: 16px;
            line-height: 20px;
          }
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .menuWrapper {
    width: 100%;
    padding: 30px;
    .menuTitle {
      h1 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 10px;
      }
      p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      .buttonSection {
        gap: 10px;
        .menuButton {
          padding: 10px 50px;
          font-size: 16px;
        }
      }
    }
    .menuContainer {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      .menuItem {
        img {
          width: 100%;
          height: 200px;
        }
        .itemInfo {
          padding: 0px 20px 20px 20px;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          h4 {
            font-size: 16px;
            line-height: 20px;
          }
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
