.orderComponentWrapper {
  width: 100%;
  background-color: #f9f9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 122px;
  padding: 120px 152px;
  .orderText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-family: "Playfair Display", serif;
      font-size: 50px;
      font-weight: 500;
      line-height: 60px;
      color: #2c2f24;
    }
    p {
      width: 70%;
      font-family: "DM Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #414536;
    }
  }
  .orderLogos {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .row1 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 220px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
    }
    .row2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 260px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
    }
    .row3 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 220px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .orderComponentWrapper {
    width: 100%;
    padding: 30px 20px;
    flex-direction: column;
    .orderText {
      text-align: center;
      p {
        width: 100%;
      }
    }
  }
  .orderLogos {
    width: 100%;
    .row1 {
      flex-direction: column;
      gap: 20px;
    }
    .row2 {
      flex-direction: column;
      gap: 20px;
      .icon {
        width: 220px !important;
        svg {
          width: 153px;
        }
      }
    }
    .row3 {
      flex-direction: column;
      gap: 20px;
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .orderComponentWrapper {
    width: 100%;
    padding: 30px 20px;
    flex-direction: column;
    .orderText {
      text-align: center;
      p {
        width: 100%;
      }
    }
  }
  .orderLogos {
    width: 100%;
    .row1 {
      flex-direction: column;
      gap: 20px;
    }
    .row2 {
      flex-direction: column;
      gap: 20px;
      .icon {
        width: 220px !important;
        svg {
          width: 153px;
        }
      }
    }
    .row3 {
      flex-direction: column;
      gap: 20px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .orderComponentWrapper {
    width: 100%;
    padding: 30px 20px;
    flex-direction: column;
    .orderText {
      text-align: center;
      p {
        width: 100%;
      }
    }
  }
  .orderLogos {
    width: 100%;
    .row1 {
      gap: 20px;
    }
    .row2 {
      gap: 20px;
      .icon {
        width: 220px !important;
        svg {
          width: 153px;
        }
      }
    }
    .row3 {
      gap: 20px;
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .orderComponentWrapper {
    width: 100%;
    padding: 30px 20px;
    flex-direction: column;
    .orderText {
      text-align: center;
      p {
        width: 100%;
      }
    }
  }
  .orderLogos {
    width: 100%;
    .row1 {
      gap: 20px;
    }
    .row2 {
      gap: 20px;
      .icon {
        width: 220px !important;
        svg {
          width: 153px;
        }
      }
    }
    .row3 {
      gap: 20px;
    }
  }
}
