footer {
  /* dimensions */
  width: 100%;
  /* style */
  background-color: #474747;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* style */
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 130px;
  padding-right: 130px;
  .footerContainer {
    /* display */
    display: flex;
    justify-content: space-between;
    /* dimensions */
    width: 100%;
    /* position */
    gap: 135px;
    margin: 0 auto;
    margin-bottom: 100px;
    .shortSummary {
      /* display */
      display: flex;
      flex-direction: column;
      gap: 30px;
      /* dimensions */
      width: 33%;
      p {
        /* dimensions */
        width: 100%;
        /* font */
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #adb29e;
      }
      .socialMedia {
        /* display */
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        .iconContainer {
          /* display */
          display: flex;
          justify-content: center;
          align-items: center;
          /* style */
          background-color: #ad343e;
          border-radius: 50%;
          /* dimensions */
          width: 35px;
          height: 35px;
          svg {
            color: white;
          }
          .facebookIcon {
            font-size: 25px;
          }
        }
      }
      .websiteLogo {
        /* display */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        svg {
          /* dimensions */
          width: 55px;
          height: 55px;
        }
        p {
          /* font */
          font-family: "Playfair Display", serif;
          font-size: 32.67px;
          font-weight: 600;
          line-height: 29.3px;
          letter-spacing: -0.4px;
          font-style: italic;
          color: white;
          /* position */
          margin-left: 10px;
        }
      }
    }
    .links {
      /* dimension */
      width: 33%;
      /* display */
      display: flex;
      justify-content: space-between;
      ul {
        /* display */
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* style */
        list-style: none;
        .firstItem {
          /* font */
          font-family: "DM Sans", sans-serif !important;
          font-size: 16px !important;
          font-weight: bold !important;
          line-height: 24px !important;
          color: white !important;
          /* position */
          margin-bottom: 40px !important;
        }
        li {
          /* font */
          font-family: "DM Sans", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #dbdfd0;
          a {
            color: #dbdfd0;
            text-decoration: none;
          }
        }
      }
    }
    .images {
      width: 33%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
      p {
        /* font */
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: white;
        justify-self: flex-start;
        align-self: flex-start;
      }
      .imageContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }
    }
  }
  .divider {
    /* dimensions */
    width: 100%;
    /* style */
    color: #414536;
    outline: none;
    border: 1px solid #414536;
  }
  .copyrightText {
    /* position */
    margin-top: 30px;
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    /* dimensions */
    width: 100%;
    p {
      /* font */
      font-family: "DM Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #adb29e;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  footer {
    .footerContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .shortSummary {
        width: 100%;
        align-items: center;
        justify-content: center;
        p {
          width: 50%;
          text-align: center;
        }
      }
      .links {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
      }
      .images {
        width: 100%;
        align-items: center;
        justify-content: center;
        p{
          justify-self: center;
          align-self: center;
        
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    .footerContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .shortSummary {
        width: 100%;
        align-items: center;
        justify-content: center;
        p {
          width: 50%;
          text-align: center;
        }
      }
      .links {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
      }
      .images {
        width: 100%;
        align-items: center;
        justify-content: center;
        p {
          width: 50%;
          justify-self: center;
          align-self: center;
        }
      }
    }
  }
}

@media screen and (max-width: 410px) and (min-width: 375px) {
  footer {
    padding-left: 30px;
    padding-right: 30px;
    .footerContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .shortSummary {
        width: 100%;
        align-items: center;
        justify-content: center;
        p {
          width: 100%;
          text-align: center;
        }
      }
      .links {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
      }
      .images {
        width: 100%;
        align-items: center;
        justify-content: center;
        .imageContainer {
          grid-template-columns: 1fr;
        }
        p {
          width: 50%;
          justify-self: center;
          align-self: center;
        }
      }
    }
    .copyrightText {
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 410px) and (max-width: 768px) {
  footer {
    padding-left: 30px;
    padding-right: 30px;
    .footerContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .shortSummary {
        width: 100%;
        align-items: center;
        justify-content: center;
        p {
          width: 100%;
          text-align: center;
        }
      }
      .links {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
      }
      .images {
        width: 100%;
        align-items: center;
        justify-content: center;
        .imageContainer {
          grid-template-columns: repeat(2, 1fr);
        }
        p {
          width: 50%;
          justify-self: center;
          align-self: center;
        }
      }
    }
    .copyrightText {
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  footer {
    padding-left: 30px;
    padding-right: 30px;
    .footerContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .shortSummary {
        width: 100%;
        align-items: center;
        justify-content: center;
        p {
          width: 100%;
          text-align: center;
        }
      }
      .links {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
      }
      .images {
        width: 100%;
        align-items: center;
        justify-content: center;
        .imageContainer {
          grid-template-columns: 1fr;
        }
        p {
          width: 100%;
          justify-self: center;
          align-self: center;
        }
      }
    }
    .copyrightText {
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  footer {
    .footerContainer {
      .images {
        p {
          justify-self: center;
          align-self: center;
        }
      }
    }
  }
}
