.contentSectionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f7;
  padding: 120px 152px;
  gap: 90px;
  .imageContainer {
    display: flex;
    gap: 24px;
    .mainImage {
      padding-bottom: 27px;
    }
    .imageWrapper {
      padding-top: 27px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    h2 {
      font-family: "playfair display", serif;
      font-size: 50px;
      line-height: 60.5px;
      color: #2c2f24;
      font-weight: 500;
    }
    p{
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      color: #414536;
    }
  }
  .featuresContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .row{
      display: flex;
      align-items: center;
      gap: 20px;
      font-family: "DM Sans", sans-serif;
      font-size: 20px;
      line-height: 26px;
      color: #2c2f24;
      font-weight: 500;
      svg{
        margin: 5px;
      }
    }
  }
}
