.contentSectionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f7;
  padding: 120px 152px;
  gap: 90px;
  .imageContainer {
    display: flex;
    gap: 24px;
    .mainImage {
      padding-bottom: 27px;
    }
    .imageWrapper {
      padding-top: 27px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    h2 {
      font-family: "playfair display", serif;
      font-size: 50px;
      line-height: 60.5px;
      color: #2c2f24;
      font-weight: 500;
    }
    p {
      font-family: "DM Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      color: #414536;
    }
  }
  .featuresContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .row {
      display: flex;
      align-items: center;
      gap: 20px;
      font-family: "DM Sans", sans-serif;
      font-size: 20px;
      line-height: 26px;
      color: #2c2f24;
      font-weight: 500;
      svg {
        margin: 5px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .contentSectionWrapper {
    flex-direction: column;
    padding: 30px;
    gap: 0;
    .imageContainer {
      scale: 0.3;
      margin-bottom: -200px;
      margin-top: -200px;
    }
    .description {
      margin-bottom: 24px;
      h2 {
        font-size: 24px;
        line-height: 45px;
      }
      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
    .featuresContainer {
      .row {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .contentSectionWrapper {
    flex-direction: column;
    padding: 30px;
    gap: 0;
    .imageContainer {
      scale: 0.3;
      margin-bottom: -200px;
      margin-top: -200px;
    }
    .description {
      margin-bottom: 24px;
      h2 {
        font-size: 24px;
        line-height: 45px;
      }
      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
    .featuresContainer {
      .row {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contentSectionWrapper {
    flex-direction: column;
    padding: 60px;
    gap: 0;
    .imageContainer {
      scale: 0.6;
      margin-bottom: -100px;
      margin-top: -100px;
    }
    .description {
      margin-bottom: 24px;
      h2 {
        text-align: center;
        font-size: 48px;
        line-height: 45px;
      }
      p {
        text-align: center;
        font-size: 24px;
        line-height: 24px;
      }
    }
    .featuresContainer {
      .row {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .contentSectionWrapper {
    flex-direction: column;
    padding: 60px;
    gap: 0;
    .imageContainer {
      scale: 0.8;
      margin-bottom: -40px;
      margin-top: -50px;
    }
    .description {
      margin-bottom: 24px;
      h2 {
        text-align: center;
        font-size: 48px;
        line-height: 45px;
      }
      p {
        text-align: center;
        font-size: 24px;
        line-height: 24px;
      }
    }
    .featuresContainer {
      .row {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
